html{
  max-width: 100%;
}

body {
  background-image: linear-gradient(to bottom right, #224e5b, #01050d);
  height: auto;
  background-attachment: fixed;
  background-size: cover;
}
.tables {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  max-width: 100%;
}

@font-face {
  font-family: ironFist;
  src: url(./Styles/Iron-Fist.ttf);
}

.Dropdown {
  display: flex;
  justify-content: center;
}

h1 {
  background-color: #dd1d5b;
  color: white;
}

h2 {
  background-color: #dd1d5b;
  color: white;
  display: inline-block;
}

.header {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: large;
  color: #9b9999f8;
}

.invisible {
  display: none;
}

.fade-in {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1.5s;
}

#toDoList {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-size: large;
  margin: 10px;
}

#Nav{
  background-color: #dd1d5b;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 100;
  font-size: large;
  margin: 10px;
}

#help{
  color: #9a9b9c;
}


@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

select {
  background-color: #9a9b9c;
}

select :hover {
  background-color: #771336;
}

.notation {
  height: 30px;
  font-family: ironFist;
  font-size: 30px;
  color: aliceblue;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  column-gap: 10px;
  margin: 10px;
}

.Tables1 {
  min-width: 50%;
  height: -100;
  margin-top: 0.6em;
  max-width: 50%;
}

.Tables2 {
  height: -100;
}

.video{
  position: relative;
  justify-items: center;
  margin-top: 1em;
  min-width: 33%;
  max-width: 33%;
}

table {
  background-color: #c8acd6;
}

th {
  text-align: center;
  color: #d4d4d6;
}

td {
  text-align: center;
}

tr:nth-child(even) {
  background-color: #857bde;
}

tr:nth-child(odd) {
  background-color: #221e45;
  color: #b4b4b4;
}

@media (max-width: 900px){
  .video{
    display: none;
  }
}

@media (max-width: 768px){
  .notation{
    font-size: 1rem;
  }
  .tables{
    font-size: 0.75rem;
  }
  .Tables1{
    margin-top: 0.6em;
  }
}


@media (max-width: 400px){
  .notation{
    font-size: 1rem;
  }
  .tables{
    font-size: 0.75rem;
  }
}
